@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

#font {
  font-family: 'Orbitron', sans-serif;
}

  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

/* Modal Content */
	.modal-content {
	background-color: #fefefe;
	border-radius:15px;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	margin-left:500px;
	margin-right:500px;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
	}	

/* The Close Button */
	.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

	.close:hover,
	.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	}

	.popupbtn{
		
		background-color:rgb(85, 85, 85);
		color: white;
		height:20%;
		width:60%;
		font-size:15px;
		border-radius:5px;
		font-weight:bold;
		cursor: pointer;
	}



 .poptryagain{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

/* Modal Content */
	.tryagaincontent {
	background-color: #fefefe;
	border-radius:15px;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	margin-left:500px;
	margin-right:500px;
	padding: 20px;
	border: 1px solid #888;
	width: 25%;
	}	

/* The Close Button */
	.closeagain {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

	.closeagain:hover,
	.closeagain:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	}

	.redirectbt{
		
		background-color:rgb(85, 85, 85);
		color: white;
		height:20%;
		width:60%;
		font-size:15px;
		border-radius:5px;
		font-weight:bold;
		cursor: pointer;
	}



  .head {
    display: flex;
    justify-content: flex-star bt;
    margin-left: 100px;
  }

  ul {
    display: flex;
    list-style-type: none;
    /*float: left;*/
  }

  li {
    margin: 5px;
    display: flex;
    list-style-type: none;
  }
  
  img {
    width : 120px;
    height: 120px;
    display: flex;
    cursor: pointer;
  }

 .dropLocation {
    display: flex;
    /*justify-content: flex-start;
    align-items: flex-start;*/
	flex-wrap: row wrap;
    width: 100%;
    height: auto;
    padding: 2.5em;
  }

  #question{  
	  position: absolute;
	  font-size: 40px;
	  top: 70px;
	  left: 47%;
	  white-space: nowrap;
	  transform: translate(-50%,-50%);
	  background: #000000 -webkit-gradient(linear,left top,right top,from(#000000),to(#000000),color-stop(0.1,#fff)) 0 0  no-repeat;
	  -webkit-background-size: 150px;
	  -webkit-background-clip: text;
	  color: rgba(255,255,255,0.1);
	  animation: animate 5s infinite;
  }
  @keyframes animate{
	 0%,10%{
	 background-position: -1000px;
	 }
		20%{
		background-position: top left;
		}
			90%{
			background-position:top right;
			}
			100%{
			background-position:1000px;
			}
  }
  #scorebox{
	  font-family:'Orbitron';
	  font-size : 35px;
	  position:absolute;	
    
    display:inline;
	  right:10px;
	  border : 2px solid;
	  padding: 2px;
	  top:250px;
	  right: 70px;
  }

  #dropLocation1 , #dropLocation3 , #dropLocation5 , #dropLocation7 {
    position:block;
	  border-width:5px;
	  border-color:rgb(149, 238, 149);	
	margin-left: 150px;
	margin-top: 0px;
	/*background: rgb(149, 238, 149);*/
	background:ivory;
    display: flex;
	width:25%;
    justify-content: flex-start;
    flex-wrap: wrap;
	border-radius:5px;
  }

  #dropLocation2 , #dropLocation4 , #dropLocation6 , #dropLocation8 {
    position:block;
	  width:25%;
	margin-left: 100px;
	margin-top: 0px;
	border-width:5px;
	border-radius:5px;
	border-color:rgb(243, 96, 96);
   /* background: rgb(243, 96, 96);*/
   background:ivory;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  div {
    width: 350px;
    height: 300px;
    border: 2px solid #000;
    float: left;
    margin-top: 20px;
  }

  div > img {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-between;
  } 

  body{
	  max-width: 100%;
	  overflow-x:hidden;
     background:rgb(165,165,165);
  }
 
